body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

#options {
    margin: 20px 0;
}

#options button {
    display: block;
    width: 50%;
    margin: 0 auto;
    align-items: center;

}
